@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Coda:wght@400;800&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: pointer;
}

.font2 {
    font-family: sans-serif !important;
    font-optical-sizing: auto;
}

.font3 {
    font-family: "Coda", system-ui !important;
    font-style: normal;
}

.font4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;

}

li,
a,
button,
p,
input {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 100vh;
    background-color: #050505;
}

@media (max-width: 575.98px) {
    .inmn {
        width: 47vw;
        height: 75vh ;
    }
    .scr {
        font-size: 120px;
        color: rgb(20, 75, 75);
    }
    .gamein {
        width: 50vw;
        height: 30vh;
        bottom: 50px;
    }
    
    .countdiv {
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
    }
    
    .countdiv p span {
        font-size: 20px;
        font-weight: 600;
        color: aqua;
    }
    
    .controls {
        padding: 5px;
        font-size: 20px;
        font-weight: 700;
    }
    .cnrl {
        width: 49%;
        height: 70%;
        padding: 5px;
    }
    
    .img {
        width: 60%;
        height: 70%;
    }
    .cnrl:hover {
        background-color: rgb(114, 212, 207);
        width: 47%;
    }
    .player-nm p {
        font-size: 17px;
        font-weight: 700;
        text-shadow: 0 0 7px rgb(11, 233, 241);
    }
    .reset {
        right: 20px;
        width: 10%;
        height: 10%;
        bottom: 20px;
    }
    #cube{
        width: 80px;
        height: 80px;
    }
    .face{
        width: 80px;
        height: 80px;
        font-size: 30px;
        font-weight: 800;
    }
    .dice-container {
        top: 320px;
    }
    .front {
        transform: rotateY(0deg) translateZ(30px);
       
    }
    
    .back {
        transform: rotateY(180deg) translateZ(30px);
    }
    
    .right {
        transform: rotateY(90deg) translateZ(30px);
    }
    
    .left {
        transform: rotateY(-90deg) translateZ(30px);
    }
    
    .top {
        transform: rotateX(90deg) translateZ(30px);
    }
    
    .bottom {
        transform: rotateX(-90deg) translateZ(30px);
    }
    .effect {
        top: 225px;
        width: 41%;
        height: 100px;
    }
    .result p {
        font-size: 10px !important;
        font-weight: 600;
        height: 15vh;
        margin-bottom: 5px;
        border-bottom: 5px solid rgb(14, 197, 197);
    }
    .result button {
        margin-top: -30px;
        width: 30%;
        padding: 9px;
        border-radius: 20%;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        background-color: rgb(14, 197, 197);
        border: 5px solid white;
        color: #fff;
    }
    .result button:hover {
        transition: .4s;
        cursor: default;
        width: 34%;
        background-color: rgba(11, 165, 165, 0.719);
        border: 5px solid rgb(2, 54, 67);
        color: #034744;
    }
    .input-cont{
        animation: come 1s linear forwards;
    }
    @keyframes come {
        to {
            width: 90%;
            height: 100vh;
        }
    }
    .input-cont p {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        margin: auto;
        width: 45%;
        word-spacing: 10px;
    }
    .input-cont p span {
        color: #0addd3;
        font-size: 28px;
        letter-spacing: 5px;
    }
    .inputimg {
        width: 55%;
        height: 25%;
        background-color: #055c57f0;
        border-radius: 5px;
    }
    .button .playhum{
        width: 30px;
        height: 30px;
        background-color: #0d919b;
    }
    .button p{
        font-size: 14px;
    }
    .butt{
        width: 40% !important;
    }
   .hum{
    padding: 2px !important ;
   }
   .usernm input{
    font-size: 15px;
    font-weight: 700;
    width: 43%;
    background-color: rgb(195, 229, 229);
    border: 3px solid rgb(10, 87, 107);
}
.go .button{
    padding: 8px;
    margin: 60px auto;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(14, 197, 197);
}
.go .button:hover {
    background-color: rgba(14, 197, 197, 0.333);
    border: 5px solid rgb(2, 54, 67);
    color: #0addd3;
}
.animateremove {
    cursor: progress;
    animation: go 3s linear forwards !important;
}

@keyframes go {
    0% {
        width: 90%;
        height: 100vh;
    }

    100% {
        width: 0;
        height: 100vh;
    }
}
  }
  
  
  @media (min-width: 576px) and (max-width: 767.98px) {
   
  }
  
 
  @media (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
   
  }
  

  @media (min-width: 1200px) {
    .inmn {
        width: 35vw;
        height: 80vh;
    }
    .scr {
        font-size: 250px;
        color: rgb(20, 75, 75);
    }
    .gamein {
        width: 27vw;
        height: 27vh;
        bottom: 100px;
    }
    
    .countdiv {
        width: 55%;
        height: 30%;
        font-size: 30px;
        font-weight: 600;
    }
    
    .countdiv p span {
        font-size: 40px;
        font-weight: 700;
        color: aqua;
    }
    
    .controls {
        font-size: 30px;
        font-weight: 800;
        width: 100%;
        height: 30%;
    }
    .cnrl {
        width: 49%;
        height: 100%;
        padding: 10px;
    }
    
    .img {
        width: 60%;
        height: 100%;
    }
    .cnrl:hover {
        background-color: rgb(114, 212, 207);
        width: 47%;
    }
    .player-nm p {
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 5px;
        text-shadow: 0 0 7px rgb(11, 233, 241);
    }
    .reset {
        right: 270px;
        width: 5%;
        height: 7%;
        bottom: 80px;
    }
    #cube{
        width: 130px;
        height: 130px;
    }
    .face{
        width: 130px;
        height: 130px;
        font-size: 60px;
        font-weight: 800;
    }
    .dice-container {
        top: 270px;
    }
    .front {
        transform: rotateY(0deg) translateZ(50px);
       
    }
    
    .back {
        transform: rotateY(180deg) translateZ(50px);
    }
    
    .right {
        transform: rotateY(90deg) translateZ(50px);
    }
    
    .left {
        transform: rotateY(-90deg) translateZ(50px);
    }
    
    .top {
        transform: rotateX(90deg) translateZ(50px);
    }
    
    .bottom {
        transform: rotateX(-90deg) translateZ(50px);
    }
    .effect {
        top: 350px;
        width: 18%;
        height: 130px;
    }
    .result p {
        font-size: 35px;
        font-weight: 800;
        height: 15vh;
        border-bottom: 5px solid rgb(14, 197, 197);
    }
    .result button {
        margin-top: -30px;
        width: 15%;
        padding: 11px;
        border-radius: 20%;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        background-color: rgb(14, 197, 197);
        border: 5px solid white;
        color: #fff;
    }
    .result button:hover {
        transition: .4s;
        cursor: default;
        width: 17%;
        background-color: rgba(11, 165, 165, 0.719);
        border: 5px solid rgb(2, 54, 67);
        color: #034744;
    }
    .input-cont p {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        margin: auto;
        width: 27%;
        word-spacing: 30px;
    }
    .input-cont p span {
        color: #0addd3;
        font-size: 40px;
        letter-spacing: 20px;
    }
    .inputimg {
        width: 25%;
        height: 20%;
        background-color: #055c57f0;
        border-radius: 5px;
    }
    .button .playhum{
        width: 50px;
        height: 50px;
        background-color: #0d919b;
    }
    .button p{
        font-size: 17px;
    }
    .butt{
        width: 20%;
    }
    .usernm input{
        font-size: 20px;
        font-weight: 700;
        width: 40%;
        background-color: rgb(195, 229, 229);
        border: 3px solid rgb(10, 87, 107);
    }
    .go .button{
        padding: 10px;
        margin: 70px auto;
        font-size: 25px;
        font-weight: 700;
        background-color: rgb(14, 197, 197);
    }
    .go .button:hover {
        background-color: rgba(14, 197, 197, 0.333);
        border: 5px solid rgb(2, 54, 67);
        color: #0addd3;
    }
    .input-cont{
        animation: come 1s linear forwards;
    }
    @keyframes come {
        to {
            width: 66%;
            height: 100vh;
        }
    }
    .animateremove {
        cursor: progress;
        animation: go 3s linear forwards !important;
    }
    
    @keyframes go {
        0% {
            width: 66%;
            height: 100vh;
        }
    
        100% {
            width: 0;
            height: 100vh;
        }
    }
  }
  
.front{
    color: rgb(224, 27, 27) !important;
}
.main-cont {
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(52, 128, 128, 0.397), rgb(0, 255, 255), rgba(25, 117, 117, 0.329));
}

.goal {
    width: 100%;
}

.goal p {
    padding: 5px;
    gap: 10px;
    font-size: 30px;
    font-weight: 700;
    background-color: #ffffff96;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.605);
}

.goal p span {
    color: #c31010;
}

.inmn {
    background-color: #ffffff8f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
    justify-content: flex-start;
    padding: 10px;
}

.mn {
    background-color: #ffffff59;
}

.player-nm {
    padding: 5px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.596);
    background-color: rgba(0, 0, 0, 0.873);
}
.player-nm {
    padding: 5px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.596);
    background-color: rgba(0, 0, 0, 0.873);
}
.player-nm p {
    text-align: center;
   
}

.active {
    background-color: black !important;
    color: white !important;
    border: none;

    animation: dance 1s linear infinite;
}

@keyframes dance {
    0% {
        transform: translateX(5px);
    }

    25% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(5px);
    }
}

.active2 {
    background-color: #5f4f4f94 !important;
}

.scr {
    font-weight: 100;
}

.gamein {
    position: absolute;
    justify-content: space-between;
    color: #fff;
}

.countdiv {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}


.controls {
    gap: 10px;
}

.input-cont {
    position: absolute;
    width: 20%;
    height: 0vh;
    background-color: #050505fd;
    display: block;
}


.go {
    width: 100%;
    height: 100vh;
}

.inputimg {
    margin: 100px auto;
    border-radius: 5px;
}


.usernm {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 6%;
}

.usernm h4 {
    margin-top: 15px;
    width: 100%;
    color: #f0ecec;
    text-align: center;
}

.usernm input {
    height: 100%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}

.usernmhum{
    width: 100% !important;
    background-color: #07858a;
    justify-content: space-between !important;
}
.usernm p {
    width: 10%;
}

.inputimg img {
    opacity: 0.5;
    scale: 0.9;
    filter: invert(100%);
    transform: scaleX(-1);
}

.arrw span{
    color: #0b4a4a !important;
}
.arrw:hover{
    transition: .8s;
    transform: translateX(-40px);
}
.arrw span:hover{
    transition: .3s;
   font-size: 25px;
   color: #73f6e6 !important;
}
.go2{
    display: none;
}
.go .button {
    width: 35%;
    border-radius: 20%;
    text-align: center;
    border: 5px solid white;
    color: #fff;
}

.go .button:hover {
    transition: .4s;
    cursor: default;
    width: 40%;
}

.button .playhum img{
   scale: 0.8;
}
.result {
    position: absolute;
}

.see {
    position: absolute;
    display:none;

    animation: 2s shake linear forwards;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-80px);
    }
}




.result button:hover {
    transition: .4s;
    cursor: default;
    width: 17%;
    background-color: rgba(11, 165, 165, 0.719);
    border: 5px solid rgb(2, 54, 67);
    color: #034744;
}

.cnrl {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(162, 231, 231);
}


.cnrl:hover {
    transition: .4s;
    box-shadow: 0 0 7px black;
    color: rgb(0, 0, 0);
}

.cnrl:active {
    background-color: rgb(3, 43, 41);
    color: rgb(212, 212, 212);
}


.reset {
    position: absolute;

    animation: 5s close linear infinite;
}

.fast {
    animation: 0.6s close linear infinite;
}

@keyframes close {
    to {
        rotate: 180deg;
    }
}

img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}


.dice-container {
    position: absolute;
}

#cube {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 0.8s;
}

.face {
    position: absolute;
    color: #fff;
    background-color: rgb(44, 12, 12);
    border: 2px solid #921a1a;
    border-radius: 13.1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.power {
    display: none;
}

.effect {
    position: absolute;
    display:none;
}

.effect img{
    opacity: 0.8;
}
.eff1{
    margin-top: 26px;
    scale: 0.5;
}
