@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Coda:wght@400;800&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: pointer;
}

.font2 {
    font-family: sans-serif !important;
    font-optical-sizing: auto;
}

.font3 {
    font-family: "Coda", system-ui !important;
    font-style: normal;
}

.font4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;

}

li,
a,
button,
p,
input {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 100vh;
    background-color: #050505;
}


.front{
    color: rgb(224, 27, 27) !important;
}
.main-cont {
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

.goal {
    width: 100%;
}

.goal p {
    padding: 5px;
    gap: 10px;
    font-size: 30px;
    font-weight: 700;
    background-color: #ffffff96;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.605);
}

.goal p span {
    color: #c31010;
}

.inmn {
    background-color: #ffffff8f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
    justify-content: flex-start;
    padding: 10px;
}

.mn {
    background-color: #ffffff59;
}

.player-nm {
    padding: 5px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.596);
    background-color: rgba(0, 0, 0, 0.873);
}
.player-nm {
    padding: 5px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.596);
    background-color: rgba(0, 0, 0, 0.873);
}
.player-nm p {
    text-align: center;
   
}

.active {
    background-color: black !important;
    color: white !important;
    border: none;

    animation: dance 1s linear infinite;
}

@keyframes dance {
    0% {
        transform: translateX(5px);
    }

    25% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(5px);
    }
}

.active2 {
    background-color: #5f4f4f94 !important;
}

.scr {
    font-weight: 100;
}

.gamein {
    position: absolute;
    justify-content: space-between;
    color: #fff;
}

.countdiv {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}


.controls {
    gap: 10px;
}

.input-cont {
    position: absolute;
    width: 20%;
    height: 0vh;
    background-color: #050505fd;
    display: block;
}


.go {
    width: 100%;
    height: 100vh;
}

.inputimg {
    margin: 100px auto;
    border-radius: 5px;
}


.usernm {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 6%;
}

.usernm h4 {
    margin-top: 15px;
    width: 100%;
    color: #f0ecec;
    text-align: center;
}

.usernm input {
    height: 100%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}

.usernmhum{
    width: 100% !important;
    justify-content: space-between !important;
}

.usernm p {
    width: 10%;
}

.inputimg img {
    opacity: 0.5;
    scale: 0.9;
    filter: invert(100%);
    transform: scaleX(-1);
}

.arrw span{
    color: #0b4a4a !important;
}
.arrw:hover{
    transition: .8s;
    transform: translateX(-40px);
}
.arrw span:hover{
    transition: .3s;
   font-size: 25px;
   color: #73f6e6 !important;
}
.go2{
    display: none;
}
.go .button {
    width: 35%;
    border-radius: 20%;
    text-align: center;
    border: 5px solid white;
    color: #fff;
}

.go .button:hover {
    transition: .4s;
    cursor: default;
    width: 40%;
}

.button .playhum img{
   scale: 0.8;
}
.result {
    position: absolute;
}

.see {
    position: absolute;
    display:none;

    animation: 2s shake linear forwards;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-80px);
    }
}




.result button:hover {
    transition: .4s;
    cursor: default;
    width: 17%;
    background-color: rgba(11, 165, 165, 0.719);
    border: 5px solid rgb(2, 54, 67);
    color: #034744;
}

.cnrl {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(162, 231, 231);
}


.cnrl:hover {
    transition: .4s;
    box-shadow: 0 0 7px black;
    color: rgb(0, 0, 0);
}

.cnrl:active {
    background-color: rgb(3, 43, 41);
    color: rgb(212, 212, 212);
}


.reset {
    position: absolute;
}
.reset img{
    animation: 5s close linear infinite;
}
.reset p{
    margin-bottom: 10px;
    font-weight: 900;
}
.reset p:hover{
   color: white;
}

.fast {
    animation: 0.6s close linear infinite !important;
}

@keyframes close {
    to {
        rotate: 180deg;
    }
}
.shake {
    animation: 0.6s dan linear infinite !important;
}

@keyframes dan {
   0%{
        rotate: 0deg;
    }
    50% {
        rotate: 60deg; 
    }
   50% {
        rotate: -60deg; 
    }
    75% {
        rotate: 60deg; 
    }
    100% {
        rotate: -60deg; 
    }
}
img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}


.dice-container {
    position: absolute;
}

#cube {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 0.8s;
}

.face {
    position: absolute;
    color: #fff;
    background-color: rgb(44, 12, 12);
    border: 2px solid #921a1a;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.power {
    display: none;
}

.effect {
    position: absolute;
    display:none;
}

.effect img{
    opacity: 0.8;
}
.eff1{
    margin-top: 26px;
    scale: 0.5;
}
.learn{
    z-index: 9999;
    padding: 20px;
    width: 80%;
    margin: auto;
    position: absolute;
    background-color: #FFF;
    display: none;
}
.learn h2{
    color: #068f88;
    margin-bottom: 10px;
}
.learn li{
    list-style: disc;
    margin-top: 7px;
    margin-bottom:2px;
}
.learn span{
    font-weight: 800;
    color: #ec131a;
}
.learn div{
    width: 100%;
    justify-content:space-between ;
}
.learn button{
    background-color: #0ce0d6;
    border: 2px solid rgb(5, 69, 71);
    border-radius: 15px;
    font-weight: 900;
    color: rgb(99, 97, 97);
}

.learn button:hover{
transition: .3s;
background-color: transparent;
}
h3 S{
    font-size: 25px;
    color: #c31010;
}
.goal h3{
    margin-top: 20px;
}
.on{
    display: none;
}
.audio{
    display: none;
}
.col{
    color: rgb(204, 19, 19);
    font-weight: 800;
    width: 19%;
    text-align: right;
    
}
.col:hover{
    transition: .3s;
    color: blue;
}