@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Coda:wght@400;800&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: pointer;
}

.font2 {
    font-family: sans-serif !important;
    font-optical-sizing: auto;
}

.font3 {
    font-family: "Coda", system-ui !important;
    font-style: normal;
}

.font4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;

}

li,
a,
button,
p,
input {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 100vh;
    overflow-x: hidden;
    background-color: #050505;
}


.front {
    color: rgb(224, 27, 27) !important;
}

.main-cont {
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

.goal {
    width: 100%;
}

.goal p {
    padding: 5px;
    gap: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: #ffffff96;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.605);
}

.goal p span {
    color: #c31010;
}

.inmn {
    background-color: #ffffff8f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
    justify-content: flex-start;
    padding: 10px;
}

.mn {
    background-color: #ffffff59;
}

.player-nm {
    padding: 5px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.596);
    background-color: rgba(0, 0, 0, 0.873);
}

.player-nm {
    padding: 5px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.596);
    background-color: rgba(0, 0, 0, 0.873);
}

.player-nm p {
    text-align: center;

}

.active {
    background-color: black !important;
    color: white !important;
    border: none;

    animation: dance 1s linear infinite;
}

@keyframes dance {
    0% {
        transform: translateX(5px);
    }

    25% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(5px);
    }
}

.active2 {
    background-color: #5f4f4f94 !important;
}

.scr {
    font-weight: 100;
}

.gamein {
    position: absolute;
    justify-content: space-between;
    color: #fff;
}

.countdiv {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}


.controls {
    gap: 10px;
}

.input-cont {
    background-image: url(../img/lucky-dice-game-background\ \(2\).jpg);
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    width: 20%;
    height: 0vh;
    background-color: #050505fd;
    display: block;
}


.go {

    width: 100%;
    height: 100vh;
}

.inputimg {
    margin: 100px auto;
    border-radius: 5px;
}


.usernm {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 6%;
}

#chgoal {
    width: 50%;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 6%;
    flex-wrap: nowrap;
}

#chgoal h5 {
    width: 100%;
    color: #f0ecec;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

#chgoal input {
    height: 100%;
    outline: none;
    text-align: center;
    padding: 2px;
    font-size: 18px;
}

.usernm h4 {
    margin-top: 15px;
    width: 100%;
    color: #f0ecec;
    text-align: center;
}

.usernm input {
    height: 100%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}

.usernmhum {
    width: 100% !important;
    justify-content: space-between !important;
}

.usernm p {
    width: 10%;
}

.inputimg img {
    opacity: 0.5;
    scale: 0.9;
    filter: invert(100%);
    transform: scaleX(-1);
}

.arrw {
    font-weight: 900;
    color: #0b4a4a;
}

.arrw span {
    transition: .3s;


    animation: 1s slideinin linear infinite;
}

@keyframes slideinin {
    from {
        color: #0b4a4a;
        transform: translateX(30px);

    }

    to {
        color: #0b4a4a;
        transform: translateX(0);
    }
}

.backna {
    animation: 8s slideinin2 linear infinite;
    background-color: transparent;
    border: none;
}

@keyframes slideinin2 {
    0% {
        transform: translateX(-18px);
    }

    25% {
        transform: translateX(18px);
    }

    30% {
        transform: translateX(18px);
    }

    50% {
        transform: translateX(0);
    }


    75% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-18px);
    }
}

.arrw span:first-child {
    transition: .3s;


    animation: 0.5s light linear infinite;
}


.arrw span:nth-child(2) {
    transition: .3s;


    animation: 1s light linear infinite;
}


.arrw span:nth-child(3) {
    transition: .3s;


    animation: 1.5s light linear infinite;
}


.arrw span:nth-child(4) {
    transition: .3s;


    animation: 2s light linear infinite;
}

@keyframes light {
    from {
        color: #0b4a4a;
        transform: translateX(30px);

    }

    to {
        color: #73f6e6 !important;
        transform: translateX(0);
    }
}



.arrw:hover {
    transition: .8s;
    transform: translateX(-40px);
}

.arrw span:hover {
    transition: .3s;
    font-size: 25px;
    color: #73f6e6 !important;
}

.go2 {
    display: none;
}

.go .button {
    width: 35%;
    border-radius: 20%;
    text-align: center;
    border: 5px solid white;
    color: #fff;
}

.go .button:hover {
    transition: .4s;
    cursor: default;
    width: 40%;
}

.button .playhum img {
    scale: 0.8;
}

.result {
    justify-content: space-around;
    margin: auto;
    border: 3px solid rgb(248, 246, 246);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.788);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.884);
}

.see {
    position: absolute;
    z-index: 999;
    height: 50%;
    width: 80% !important;
    margin-top: 150px;
    animation: 2s shake linear forwards;
    display: none;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-80px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-80px);
    }
}



.locked {
    background-color: #000000d7 !important;
    color: white !important;
}

.alert {

    animation: alert 0.6s linear infinite;
}

@keyframes alert {
    from {
        background-color: rgba(197, 134, 134, 0.829);
    }

    to {
        background-color: #88d8d4;
    }
}


.result button:hover {
    transition: .4s;
    cursor: default;
    width: 17%;
    background-color: rgba(11, 165, 165, 0.719);
    border: 5px solid rgb(2, 54, 67);
    color: #034744;
}

.cnrl {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(162, 231, 231);
}


.cnrl:hover {
    transition: .4s;
    box-shadow: 0 0 7px black;
    color: rgb(0, 0, 0);
}

.cnrl:active {
    background-color: rgb(3, 43, 41);
    color: rgb(212, 212, 212);
}


.reset {
    position: absolute;
}

.reset img {
    animation: 5s close linear infinite;
}

.reset p {
    margin-bottom: 10px;
    font-weight: 900;
}

.reset p:hover {
    color: white;
}

.fast {
    animation: 0.6s close linear infinite !important;
}



@keyframes close {
    to {
        rotate: 180deg;
    }
}

.shake {
    animation: 0.6s dan linear infinite !important;
}

.newimg {
    animation: 7s dan2 linear infinite !important;
}

@keyframes dan2 {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 30deg;
    }

    30% {
        rotate: -30deg;
    }

    50% {
        rotate: 0deg;
    }

    60% {
        rotate: 0deg;
    }

    75% {
        rotate: 30deg;
    }

    90% {
        rotate: -30deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes dan {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 60deg;
    }

    50% {
        rotate: -60deg;
    }

    75% {
        rotate: 60deg;
    }

    100% {
        rotate: -60deg;
    }
}

img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}


.dice-container {
    position: absolute;
}

#cube {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 0.8s;
}

.face {
    position: absolute;
    color: #fff;
    background-color: rgb(44, 12, 12);
    border: 2px solid #921a1a;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.power {
    display: none;
}

.effect {
    position: absolute;
    display: none;
}

.effect img {
    opacity: 0.8;
}

.eff1 {
    margin-top: 26px;
    scale: 0.5;
}

.learn {
    z-index: 9999;
    padding: 20px;
    width: 80%;
    margin: auto;
    position: absolute;
    background-color: #FFF;
    display: none;
}

.learn h2 {
    color: #068f88;
    margin-bottom: 10px;
}

.learn li {
    list-style: disc;
    margin-top: 7px;
    margin-bottom: 2px;
}

.learn span {
    font-weight: 800;
    color: #ec131a;
}

.learn .div {
    width: 100%;
    justify-content: space-between;
}

.learn button {
    background-color: #0ce0d6;
    border: 2px solid rgb(5, 69, 71);
    border-radius: 15px;
    font-weight: 900;
    color: rgb(99, 97, 97);
}

.learn button:hover {
    transition: .3s;
    background-color: transparent;
}

.word {
    font-size: 23px;
    margin-left: 10px;
}

h3 p {
    font-size: 20px !important;
    color: rgb(10, 10, 10);
}

.goal h3 {
    margin-top: 20px;
}

.on {
    display: none;
}

.audio {
    display: none;
}

.col {
    color: rgb(204, 19, 19);
    font-weight: 800;
    width: 19%;
    text-align: right;

}

.col:hover {
    transition: .3s;
    color: blue;
}

.main-cont {
    position: relative;
}

.level {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/lucky-dice-game-background.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.usernmhum {
    background-color: #f7f0f0ad;
}

.level {
    display: none;
}

#pick {
    width: 17%;
    background-color: #05050591;
}

#pick p {
    width: 100%;
}

.levbuttons {
    height: 50%;
    width: 65%;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
}

.levbuttons .bbt {
    height: 17%;
    width: 90%;
    border-radius: 30%;
    text-align: center;
    background-color: #eccca741;
    border: 6px solid rgba(165, 42, 42, 0.747);
    box-shadow: 0 0 7px #0505059c;
    color: rgb(39, 37, 37);
}

.bbt:hover {
    transition: .3s;
    margin-top: -5px;
    box-shadow: 10px 0 20px #0505059c;
    background-color: #000000b6;
    color: #ccf0ed;
}


.levbuttons .bbt p {
    height: 90%;
    width: 50%;
    font-weight: 700;
    word-spacing: 10px;
    align-content: center;
}

.tool {
    height: 12%;
    width: 100%;
    margin-bottom: 80px;
    background-color: #f0f7f66b;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}

.bac {
    font-size: 40px;
    font-weight: 800;
    line-height: 15px;
}

.bac:hover {
    transition: .3s;
    font-size: 45px;
    color: #c31010;
    line-height: 12px;
}

.cashout {
    gap: 10px;
    background-color: #924e218c;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.cashout p {
    font-weight: 800;
    color: #000;
}

.set {
    position: relative;
}

.pack {
    top: 70px;
    right: 10px;
    position: absolute;
    width: 170%;
    height: 200px;
    background-color: #0ce0d6;
    transform: translateY(-30px);
    animation: 0.6s slidein linear forwards;
}



@keyframes slidein {
    to {
        transform: translateY(0);
    }
}

#upar {
    transform: translateY(16px);
    animation: 0.2s up linear infinite;
    font-weight: 900;
    font-size: 23px;

}

#downar {
    transform: translateY(-16px);
    animation: 0.2s down linear infinite;
    animation-delay: 0.4s;
    font-weight: 900;
    font-size: 23px;
}



@keyframes up {
    to {
        transform: translateY(-15px);
        opacity: 0.4;
    }

}

@keyframes down {
    to {
        transform: translateY(15px);
        opacity: 0.4;
    }

}

.inpack {
    width: 97%;
    height: 47%;
    gap: 2px;
    font-size: 27px;
    font-weight: 700;
    color: white;
    background-color: #050505e1;
}

.paced {
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
}

.paced .inpack {
    background-color: transparent;
}

.colpack {
    justify-content: space-around;
    flex-wrap: wrap;
}

.color {
    transition: .3s;
    height: 40px;
    width: 40px;
    scale: 0.8;
    opacity: 0.5;
    background-color: #921a1a;
}

.color:hover {
    scale: 1;
    opacity: 1;
    border: 3px solid rgb(180, 77, 8);
}

.coll {
    scale: 1 !important;
    opacity: 1 !important;
    border: 3px solid rgb(240, 103, 12);
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.setin:hover .pack {
    display: block;
}

.imggd {
    transition: .3s;
    scale: 0.4;
    height: 90px;

    position: relative;
}

.cashin {
    transition: .3s;
    height: 4%;
    justify-content: flex-start;
    margin-bottom: 5px auto;
    width: 85vw;
    background-color: #0a0a0ad8;
    position: relative;
    border: 3px solid rgba(255, 217, 0, 0.87);
}

.bar {
    transition: .3s;
    height: 100%;
    position: absolute;
    background-color: rgba(218, 165, 32, 0.801);
}

.mesbar {
    width: 100%;
    height: 100%;
    align-content: center;
    font-size: 16px;
    font-weight: 800;
    color: white;
    text-align: right;
    position: absolute;
    padding-right: 10px;
}
.colgolgin{
    color: rgb(82, 61, 10);
}
#colgold {
    color: rgb(206, 182, 44);
    font-size: 40px;

}

.colgold {
    scale: 0.6;
    background-color: rgba(0, 0, 0, 0.562) !important;
    margin-left: -15px;
}

.backna {
    width: 3%;
    height: 10%;
}

.newimg {
    height: 40%;
    width: auto;
}

.incree {
    scale: 1;
    position: absolute;
    display: none;
}

.demovd {
    height: 11.5rem;
    width: 40%;
    background-color: #000;
    display: flex;
    /* Ensures video aligns properly */
    justify-content: center;
    /* Center video horizontally */
    align-items: center;
    /* Center video vertically */
    overflow: hidden;
    /* Ensures no overflow of the video */
    position: relative;
}

.demovd video {
    height: 100%;
    width: 100%;
    object-fit: scale-down;

}

.soundch {
    transition: .3s;
    height: 40%;
    width: 90%;
    border-radius: 10px;
    background-color: #050505;
    color: white;
    font-size: 15px;
    font-weight: 900;
    opacity: 0.7;
    scale: 0.85;
}

.soundch:hover {
    background-color: #ecb651;
    opacity: 1;
    color: black;
    font-size: 16px;
}

.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.his {
    transition: .3s;
    background-color: transparent;
    height: 10%;
    width: 50%;
    font-size: 14px;
    color: rgb(239, 241, 241);
    padding: 20px;
    border: none;
}

.hisc {
    animation: 12s slid linear infinite;
    animation-delay: 7s;
}

@keyframes slid {
    0% {
        justify-content: center;
    }

    25% {
        justify-content: left;
    }

    30% {
        justify-content: center;

    }

    40% {
        justify-content: right;
    }

    50% {
        justify-content: center;
    }

    60% {
        justify-content: center;
    }

    75% {
        justify-content: left;

    }

    80% {
        justify-content: center;
    }

    90% {
        justify-content: right;
    }

    100% {
        justify-content: center;
    }
}